.home-container{
    height: max-content;
}

.home-leftbar {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    position: relative;
}
.home-rightbar{
    background-color: rgb(27,26,26);
    padding: 0;
    overflow-y: auto;
}
.dark-logo{
   height: 100x;
   width: 200px;
}
.home-leftbar-item {
    color: white;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
    padding-left: 15px;
    font-weight: bold;
}

.home-leftbar-item:hover {
    color: lightgray;
    cursor: pointer;
}

i{
    margin: 4px;
    margin-right: 20px;
}

.song-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    overflow-x: auto;
}

.song-container::-webkit-scrollbar {
    width: 0;
}

.playlist-container , .sounds-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    overflow-x: auto;
}

.playlist-container::-webkit-scrollbar , .sounds-container::-webkit-scrollbar {
    width: 0;
}

h2 {
    margin: 20px 0px 0px 20px;
    color: white;
    font-weight: 600;
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    color: white;
    margin-right: 25px;
    
}


a:hover {
    text-decoration: none;
    color:lightgray;

}