<div class="home-container row">
    <div class="home-leftbar col-3">
        <div class="home-leftbar-item">
            <img src="assets/logo-dark.png" alt="spotify" class="dark-logo mt-3 ">
        </div>
        <div class="home-leftbar-item mt-5 ">
            <i class="fa-solid fa-house" style="color: #fafafa; "></i> Home
        </div>
        <div class="home-leftbar-item">
            <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>  Search
        </div>
        <div class="home-leftbar-item">
            <i class="fa-solid fa-book" style="color: #f5f5f5;"></i>  Your Library
         </div>
        <!-- <div class="home-leftbar-item">
           Create Playlist
         </div> -->
    </div>
    <div class="home-rightbar col-9">
        <app-nav-bar></app-nav-bar>
        <div class="song-container ">
            <app-song-card  class="container mt-3"></app-song-card>
            <app-song-card  class="container mt-3"></app-song-card>
            <app-song-card  class="container mt-3"></app-song-card>
            <app-song-card  class="container mt-3"></app-song-card>
            <app-song-card  class="container mt-3"></app-song-card>
            <app-song-card  class="container mt-3"></app-song-card>
            <app-song-card  class="container mt-3"></app-song-card>
           
            <app-song-card  class="container mt-3"></app-song-card>
           
            <app-song-card  class="container mt-3"></app-song-card>
           
            <app-song-card  class="container mt-3"></app-song-card>
           
        </div>



    </div>
</div>