
/* .song-card-container {
    height: 280px;
    max-width: 250px;
    background-color: rgb(82, 82, 82);
     margin-top: 75px; 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

.song-card-container {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    width: 100%;
    margin-top: 75px; 
}

.card-img-top {
    height: 164px;
    width: 166px;
    margin-top: 10px;
    border-radius: 10px;
    
}

.card {
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    align-items: center;
    background-color: rgb(82, 82, 82);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    min-width: 202px;
    height: 274px;
  }
  